<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email verified</title>
    <style>
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="top-banner" style="background-color: #4fb3d4;">
        <a href="#">
<img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5dc9062fc19d430f6909ced7_UHLogo_standard.png" width="250px" height="50px" alt="">
</a>
    </div>
    <br>
    <h1 style="color: #266d85;">Your Email has been verified.</h1>
</body>
</html>