<% include('../layouts/header.ejs') %>
<style>
    input[type=password] {
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.3s;
    outline: none;
    }
    input[type=password]:focus {
    border: 3px solid #2294ed;
    }
    .primary-button {
        color: white !important;
        text-decoration: none;
        background-color: #2294ed;
        border-radius: 3px;
        border: none;
        padding: 5px 5px;
        box-shadow: 0 0 2px var #577592;
        cursor: pointer;
    }
    .primary-button:hover {
        background-color: #1d69a3;
        transition: 0.2s ease-out;
    }
</style>
<h1>Forget Password</h1>
<form action="" method="post">
    <input type="password" name="password" required placeholder="Enter Password">
    <input type="hidden" name="user_id" value="<%= user_id %>">
    <br><br>
    <input class="primary-button" type="submit" value="Reset Password">
</form>
<% include('../layouts/footer.ejs') %>